<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.com.wolox.android.cookbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CookbookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".recipepicker.RecipePickerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".navigation.NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".navigation.NewNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googlelogin.GoogleLoginRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WolmoTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".datasync.DataSyncRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".facebooklogin.FacebookLoginRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".twitterlogin.TwitterLoginRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".instagramlogin.InstagramLoginRecipeActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="instagram.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".room.RoomRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mpchart.MpChartRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tests.TestLoginRecipeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".koin.KoinLoginRecipeActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_login_app_id" /> <!-- Activity for Facebook Login -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" /> <!-- Activity and intent filter for Chrome Custom Tabs for Facebook Login -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>