<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.com.wolox.android.cookbook">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".CookbookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".recipepicker.RecipePickerActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".navigation.NavigationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/navigation_graph" />

        </activity>

        <activity
            android:name=".recipepicker.BlankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".googlelogin.GoogleLoginRecipeActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
